# fly.toml app configuration file generated for api-bitter-fog-617 on 2026-02-15T05:14:05+05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'api-bitter-fog-617'
primary_region = 'fra'

[build]

[deploy]
  release_command = 'npx prisma migrate deploy'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
